<div id="homepage-background">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h2 id="welcome-message">Welcome, {{username}}!</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <a class="btn btn-primary" href="/newJournal" role="button">New Journal Entry:</a>
        </div>

        {{#if journals.length}}
        <div class="col-md-6 journal-list">
            <h3>Current Journal Entries:</h3>

        {{#each journals as |journal|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/journal/{{journal.id}}">{{journal.expression.name}} by {{journal.distillery.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{journal.id}}">DELETE</button>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
<script src="./js/homepage.js"></script>
